name: Check Version

on:
  push:
    pull_request:
      branches:
        - main          # Only PRs targeting main


jobs:
  compare-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Read version from PR branch
        id: branch_version
        run: echo "value=$(cat VERSION)" >> $GITHUB_OUTPUT

      - name: Checkout VERSION from main
        run: |
          git fetch origin main
          git checkout origin/main -- VERSION

      - name: Read version from main
        id: main_version
        run: echo "value=$(cat VERSION)" >> $GITHUB_OUTPUT

      - name: Compare versions
        run: |
          BRANCH_VER="${{ steps.branch_version.outputs.value }}"
          MAIN_VER="${{ steps.main_version.outputs.value }}"

          echo "PR version:   $BRANCH_VER"
          echo "Main version: $MAIN_VER"

          if dpkg --compare-versions "$BRANCH_VER" "le" "$MAIN_VER"; then
            echo "❌ PR version ($BRANCH_VER) must be GREATER than main ($MAIN_VER)."
            exit 1
          fi

          echo "✔ Version is valid."
      - name: Check changelog for version entry
        run: |
          VERSION="${{ steps.branch_version.outputs.value }}"

          echo "Checking CHANGELOG.md for version: $VERSION"

          if ! grep -qE "^## \\[$VERSION\\]" CHANGELOG.md; then
            echo "❌ CHANGELOG.md does not contain an entry for version $VERSION."
            echo "Expected a section header like:"
            echo "## [$VERSION] - YYYY-MM-DD"
            exit 1
          fi

          echo "✔ CHANGELOG.md contains entry for version $VERSION."
      - name: Ensure DRAFT tag removed from changelog
        run: |
          echo "Checking for DRAFT tags in CHANGELOG.md..."

          if grep -q -- "--DRAFT--" CHANGELOG.md; then
            echo "❌ CHANGELOG.md contains a DRAFT version section."
            echo "Remove '--DRAFT--' before merging."
            exit 1
          fi

          echo "✔ No DRAFT tags found in CHANGELOG.md."  
      - name: Check gradle build for version update
        run: |
          VERSION="${{ steps.branch_version.outputs.value }}"
          EXPECTED_LINE="version = '${VERSION}-SNAPSHOT'"

          echo "Checking build.gradle for version: $VERSION"

          if ! grep -Fxq "$EXPECTED_LINE" build.gradle; then
            echo "❌ build.gradle is not updated for version $VERSION."
            echo "Update gradle build version tag"
            exit 1
          fi

          echo "✔ build.gradle updated for $VERSION."
          